In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import math
import seaborn as sns

In [6]:
df1 = pd.read_csv("countryData.csv")
df2 = pd.read_csv("immunitizationData.csv")

In [7]:
df1.head()

,Country,Year,Status,Life expectancy,Adult Mortality,Alcohol,percentage expenditure,Total expenditure,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,0.01,71.279624,8.16,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,0.01,73.523582,8.18,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,0.01,73.219243,8.13,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,0.01,78.184215,8.52,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,0.01,7.097109,7.87,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [8]:
df2.head()

,Country,Year,infant deaths,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS
0,Afghanistan,2015,62,65.0,1154,19.1,83,6.0,65.0,0.1
1,Afghanistan,2014,64,62.0,492,18.6,86,58.0,62.0,0.1
2,Afghanistan,2013,66,64.0,430,18.1,89,62.0,64.0,0.1
3,Afghanistan,2012,69,67.0,2787,17.6,93,67.0,67.0,0.1
4,Afghanistan,2011,71,68.0,3013,17.2,97,68.0,68.0,0.1

In [9]:
#Task 2
df1.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'Alcohol', 'percentage expenditure', 'Total expenditure', 'GDP',
       'Population', ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [10]:
df2.columns

Index(['Country', 'Year', 'infant deaths', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Diphtheria ', ' HIV/AIDS'],
      dtype='object')

In [11]:
print(df1.shape) #to know rows and columns
print(df2.shape)

(2938, 14)
(2938, 10)

In [13]:
df1.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
Alcohol                            float64
percentage expenditure             float64
Total expenditure                  float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

In [14]:
df2.dtypes

Country                object
Year                    int64
infant deaths           int64
Hepatitis B           float64
Measles                 int64
 BMI                  float64
under-five deaths       int64
Polio                 float64
Diphtheria            float64
 HIV/AIDS             float64
dtype: object

In [18]:
df2.columns[2: ]

Index(['infant deaths', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Diphtheria ', ' HIV/AIDS'],
      dtype='object')

In [20]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   Alcohol                          2744 non-null   float64
 6   percentage expenditure           2938 non-null   float64
 7   Total expenditure                2712 non-null   float64
 8   GDP                              2490 non-null   float64
 9   Population                       2286 non-null   float64
 10   thinness  1-19 years            2904 non-null   float64
 11   thinness 5-9 years              2904 non-null   float64
 12  Income composition of resources  2771 non-null   float64
 13  Schooling                        2775 non-null   float64
dtypes: float64(11), int64(1), object(2)
memory usage: 321.5+ KB

In [ ]:
df1.rename(columns)

In [22]:
df3 = df1.copy()
df3.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'Alcohol', 'percentage expenditure', 'Total expenditure', 'GDP',
       'Population', ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [23]:
df3.rename(columns = {"percentage expenditure" : "%age Expense"})

,Country,Year,Status,Life expectancy,Adult Mortality,Alcohol,%age Expense,Total expenditure,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,0.01,71.279624,8.16,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,0.01,73.523582,8.18,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,0.01,73.219243,8.13,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,0.01,78.184215,8.52,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,0.01,7.097109,7.87,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,4.36,0.000000,7.13,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,4.06,0.000000,6.52,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,4.43,0.000000,6.53,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,1.72,0.000000,6.16,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,1.68,0.000000,7.10,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [24]:
df1 = df1.rename(columns = lambda x : x.strip()) # remove blank spaces
df2 = df2.rename(columns = lambda x : x.strip())

In [25]:
df1.columns

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'Alcohol', 'percentage expenditure', 'Total expenditure', 'GDP',
       'Population', 'thinness  1-19 years', 'thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [26]:
df2.columns

Index(['Country', 'Year', 'infant deaths', 'Hepatitis B', 'Measles', 'BMI',
       'under-five deaths', 'Polio', 'Diphtheria', 'HIV/AIDS'],
      dtype='object')

In [27]:
df1['Country'].head(3)

0    Afghanistan
1    Afghanistan
2    Afghanistan
Name: Country, dtype: object

In [29]:
df1['UniqueKey'] = df1.apply(lambda x: x['Country']+str(x['Year']), axis = 1) #1 is for columsn
df2['UniqueKey'] = df2.apply(lambda x: x['Country']+str(x['Year']), axis = 1)

In [30]:
df1.head()

,Country,Year,Status,Life expectancy,Adult Mortality,Alcohol,percentage expenditure,Total expenditure,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,UniqueKey
0,Afghanistan,2015,Developing,65.0,263.0,0.01,71.279624,8.16,584.259210,33736494.0,17.2,17.3,0.479,10.1,Afghanistan2015
1,Afghanistan,2014,Developing,59.9,271.0,0.01,73.523582,8.18,612.696514,327582.0,17.5,17.5,0.476,10.0,Afghanistan2014
2,Afghanistan,2013,Developing,59.9,268.0,0.01,73.219243,8.13,631.744976,31731688.0,17.7,17.7,0.470,9.9,Afghanistan2013
3,Afghanistan,2012,Developing,59.5,272.0,0.01,78.184215,8.52,669.959000,3696958.0,17.9,18.0,0.463,9.8,Afghanistan2012
4,Afghanistan,2011,Developing,59.2,275.0,0.01,7.097109,7.87,63.537231,2978599.0,18.2,18.2,0.454,9.5,Afghanistan2011

In [31]:
df2.head()

,Country,Year,infant deaths,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS,UniqueKey
0,Afghanistan,2015,62,65.0,1154,19.1,83,6.0,65.0,0.1,Afghanistan2015
1,Afghanistan,2014,64,62.0,492,18.6,86,58.0,62.0,0.1,Afghanistan2014
2,Afghanistan,2013,66,64.0,430,18.1,89,62.0,64.0,0.1,Afghanistan2013
3,Afghanistan,2012,69,67.0,2787,17.6,93,67.0,67.0,0.1,Afghanistan2012
4,Afghanistan,2011,71,68.0,3013,17.2,97,68.0,68.0,0.1,Afghanistan2011

In [32]:
df1.UniqueKey.value_counts() # frequencey

Honduras2004      1
Costa Rica2011    1
Kazakhstan2010    1
Sri Lanka2011     1
Bangladesh2014    1
                 ..
Serbia2006        1
Cameroon2008      1
Serbia2000        1
Ukraine2001       1
Turkey2013        1
Name: UniqueKey, Length: 2938, dtype: int64

In [33]:
df1.Year.value_counts()

2013    193
2000    183
2002    183
2004    183
2006    183
2008    183
2010    183
2012    183
2014    183
2001    183
2003    183
2005    183
2007    183
2009    183
2011    183
2015    183
Name: Year, dtype: int64

In [34]:
df2.UniqueKey.value_counts()

Honduras2004      1
Costa Rica2011    1
Kazakhstan2010    1
Sri Lanka2011     1
Bangladesh2014    1
                 ..
Serbia2006        1
Cameroon2008      1
Serbia2000        1
Ukraine2001       1
Turkey2013        1
Name: UniqueKey, Length: 2938, dtype: int64

In [ ]:
# df2.drop(['Country', 'Year'])

In [38]:
new_ =pd.merge(df1,df2, on = 'UniqueKey', how = 'inner')
print(new_.shape)

(2938, 25)

In [39]:
new_ =pd.merge(df1,df2, on = 'UniqueKey', how = 'outer')
print(new_.shape)

(2938, 25)

In [40]:
print (df.shape)
df.drop_duplicates(inplace = True) # remove duplicates from data set
print(df.shape)

(2938, 25)
(2938, 25)

In [41]:
df.nunique() # to check unique values

Country_x                           193
Year_x                               16
Status                                2
Life expectancy                     362
Adult Mortality                     425
Alcohol                            1076
percentage expenditure             2328
Total expenditure                   818
GDP                                2490
Population                         2278
thinness  1-19 years                200
thinness 5-9 years                  207
Income composition of resources     625
Schooling                           173
UniqueKey                          2938
Country_y                           193
Year_y                               16
infant deaths                       209
Hepatitis B                          87
Measles                             958
BMI                                 608
under-five deaths                   252
Polio                                73
Diphtheria                           81
HIV/AIDS                            200
dtype: int64

In [42]:
df.isnull()

,Country_x,Year_x,Status,Life expectancy,Adult Mortality,Alcohol,percentage expenditure,Total expenditure,GDP,Population,...,Country_y,Year_y,infant deaths,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2934,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2935,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2936,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2937,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [44]:
df.isnull().sum()

Country_x                            0
Year_x                               0
Status                               0
Life expectancy                     10
Adult Mortality                     10
Alcohol                            194
percentage expenditure               0
Total expenditure                  226
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
UniqueKey                            0
Country_y                            0
Year_y                               0
infant deaths                        0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Diphtheria                          19
HIV/AIDS                             0
dtype: int64

In [60]:
df.drop("UniqueKey", axis = 1, inplace = True)
df.dtypes

KeyError: "['UniqueKey'] not found in axis"

In [58]:
for i in range(3, len(df.columns)) :
    df.iloc[:, i].fillna(df.iloc[: , i].median(), inplace = True)

TypeError:

In [59]:
df.isna().sum()

Country_x                            0
Year_x                               0
Status                               0
Life expectancy                      0
Adult Mortality                      0
Alcohol                              0
percentage expenditure               0
Total expenditure                    0
GDP                                  0
Population                           0
thinness  1-19 years                 0
thinness 5-9 years                   0
Income composition of resources      0
Schooling                            0
Country_y                            0
Year_y                               0
infant deaths                        0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Diphtheria                          19
HIV/AIDS                             0
dtype: int64

In [64]:
df.dtypes

Country_x                           object
Year_x                               int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
Alcohol                            float64
percentage expenditure             float64
Total expenditure                  float64
GDP                                float64
Population                         float64
thinness  1-19 years               float64
thinness 5-9 years                 float64
Income composition of resources    float64
Schooling                          float64
Country_y                           object
Year_y                               int64
infant deaths                        int64
Hepatitis B                        float64
Measles                              int64
BMI                                float64
under-five deaths                    int64
Polio                              float64
Diphtheria                         float64
HIV/AIDS                           float64
dtype: object